body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  width: 70%;
  margin: 30px auto;
  background: rgb(229, 163, 216);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(13, 3, 3);
}

h1 {
  text-align: center;
}

select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

textarea {
  resize: none;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  color: white;
  cursor: not-allowed;
}

.postCard {
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  background: #f1eff0;
}

.postCard h3 {
  margin: 0;
  color: #041a3a;
}

.postCard p {
  margin: 10px 0;
}

.postCard small {
  color: gray;
}